<div class="perfil">
    <div class="perfil-stats">
        <img [src] = "perfil.foto" id = "foto-perfil" alt = "Foto perfil de Desenvolverdor Web"/> <!-- Property Binding -->
        <div>
            <strong>{{perfil.publicacoes}}</strong><br>Pubicações
        </div>
        <div>
            <strong>{{perfil.seguidores}}</strong><br>Seguidores
        </div>
        <div>
            <strong>{{perfil.seguindo}}</strong><br>Seguindo
        </div>
    </div>
    <div class="perfil-info">
        <h2>🧔🏻{{perfil.nome}}</h2>
        <p>🎮{{perfil.username}}</p>
        <p>🗺️{{perfil.local}}</p>
        <p>🗓️{{perfil.idade}}</p>
        <p>🛠️{{perfil.profissao}}</p>
        <p>🛜{{perfil.empresa}}</p>
    </div>
    <input [(ngModel)]="nome"> <!-- Two way Binding -->
    <p>{{nome}}</p> <!-- Interpolação -->
<div>